<% if user_signed_in? && current_user.id == @post.user_id %>
  <div class="post__manage">
    <%= link_to "編集する", edit_post_path(@post.id), class: :post__btn %>
    <%= link_to "削除する", post_path(@post.id), method: :delete, class: :post__destroy %>
  </div>
<% end %>


<div class="post__wrapper">
  <div class="length">
  宿泊期間：
    <%= @post.check_in.strftime("%Y年%m月%d日") %>〜<%= @post.check_out.strftime("%Y年%m月%d日") %>
  </div>
  <div class="detail__title">
    【<%= @post.place.name %>】<%=@post.title%>
  </div>
  <div class="">
    by：<%= @post.user.nickname %>
  </div>
  <%= image_tag @post.images[0], class: "main-image" %><br>
  <div class="other-images">
    <% @post.images[1..-1].each do |image| %>
      <div class="other-image">
        <%= image_tag image %>
      </div>
    <%end%>
  </div>
  <div class="">
    お宿：<%= @post.hotel %>　部屋：<%= @post.room %>
  </div>
  <div class="">
    <%= @post.text %>
  </div>
  
</div>
